<div class="row">
    <div class="col-lg-12">
        <form class="form" method="POST" action="/Home/Index">
            <div class="form-group">
                <label>Elija Archivo Excel :</label>
                <br>
                <input type="radio" name="file"
                       value="0" checked /> GenBetaDev <br>
                <input type="radio" name="file"
                       value="1" /> BetaDev
            </div>
            
            <div class="form-group">
                <input type="submit"
                       class="form-control btn btn-default" value="Start parsing" />
            </div>
        </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12">
        <label>Parsing result :</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <table class="table">
            @if (@Model != null)
            {
                @Html.Raw("<thead><th>Id</th><th>Nombre</th><th>Apellido</th></thead><tbody> ");
                    foreach (var elem in @Model as IEnumerable<ArchExcelApp.Models.EntidadHojaExcel>)
                    {
                        @Html.Raw("<tr><td>" + @elem.Id +
                        "</td><td>" + @elem.Nombre +
                        "</td><td>" + @elem.Apellido +
                        "</td></tr>");
                        }
                        @Html.Raw("</tbody>");
                    }
            </table>
        </div>
        <div class="col-sm-8"></div>
    </div>